body {
    background-color:#8b6499;
}

#game-area {
    width:800px;
    height: 600px;
    margin-left:auto;
    margin-right:auto;
}

#game-area-canvas {
    background-color:#526799;
    display:table;
    float:left;
    margin:0 auto;
}

#right-side {
    float:left;
    width:200px;
    height:100%;
    position: relative;
    top: -600px;
    left: 600px;
}

#next {
    height: 50px;
    background-color: #8f8aa7;
    color: #eee;
    font-size:24px;
    text-align:center;
    line-height: 50px;
    margin-bottom: 450px;
}

#score-text {
    height: 50px;
    background-color: #8f8aa7;
    color: #eee;
    font-size:24px;
    text-align:center;
    line-height: 50px;
}

#score {
    height: 50px;
    /*background-color:#ffb866;*/
    background-color:#8aa79e;
    color:#eee;
    font-size: 32px;
    text-align:center;
    line-height: 50px;
}
