body {
    margin:0;
    user-select: none;
    overflow:hidden;
}

#canvas {
    background-color: #cccccc;
    display: block;
}

#imagePicker {
    background-color:white;
    position: absolute;
    left: 10px;
    top:10px;
    width:816px;
}

#optionsWrapper {
    position: absolute;
    left:0;
    top:0;
}

.option {
    width:48px;
    height:48px;
    /*border:2px red solid;*/
    float:left;
    background-color: #99F;
    opacity: 0.0;
}

#selected {
    opacity: 0.7;
}

#canvasWrapper {
    width: 1224px;
    float: right;
}

#scene {
    overflow: hidden;
}

#verticalCellNum {
    width: 24px;
    height: 672px;
    float:left;
    background-color: #ebebeb;
}

#horizontalCellNum {
    width:1200px;
    height: 24px;
    float:right;
    background-color: #ebebeb;
}

.cellNumber {
    text-align: center;
    color:#333;
}

.cn-vertical {
    line-height: 48px;
    height: 48px;
}

.cn-horizontal {
    float:left;
    width: 48px;
    line-height: 24px;
}

#navigateButtons{
    float:left;
    width:240px;
}


#tools {
    margin-top:15px;
    font-size: 18px;
    clear:both;
    float: right;
}

.tool-title {
    text-align: center;
    font-size: 24px;
    color:grey;
}

#hitboxSwitch {
    float:left;
    height: 120px;
}

#hitboxSwitch div {
    float:right;
}

#toCopy {
    display: hidden;
}

.navButton {
    font-size:40px;
    width: 120px;
    line-height: 120px;
    text-align:center;
    float:left;
    color:#333;
}
.navButton:hover {
    background-color: #99F;
}

#maps {
    float:left;
}

#map {
    float:left;
    width:120px;
    line-height: 120px;
    text-align: center;
    color:#333;
}

#map select {
    font-size:30px;
}

#saveMapsButton {
    line-height: 40px;
    width: 200px;
    text-align: center;
    float:left;
    font-size: 23px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    background-color: #007bff;
    color:#eee;
}

#saveMapsButton:hover {
    background-color: #005bff;
}